<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.android.jsj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--允许应用程序改变WIFI连接状态-->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--允许应用程序访问有关的网络信息-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--允许应用程序访问WIFI网卡的网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--直播权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
            android:name="android.permission.INTERACT_ACROSS_USERS"
            android:protectionLevel="signature" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".JSJApplication"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity"
                android:launchMode="singleTask"/>
        <activity android:name=".ui.RegistrationActivity"/>
        <activity android:name=".ui.WebActivity"/>
        <activity android:name=".ui.HomeActivity"/>
        <activity android:name=".ui.ChangeUserInfoActivity"/>
        <activity android:name=".ui.ApplyMerchantActivity"/>
        <activity android:name=".ui.LivePageActivity"/>
        <activity android:name=".ui.LiveDetailsActivity"/>
        <activity android:name=".ui.CompanyShowActivity"/>
        <activity android:name=".ui.CaseDetailsActivity"/>
        <activity android:name=".ui.VideoDetailsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"/>
        <activity android:name=".ui.NewsDetailsActivity"/>
        <activity android:name=".ui.DesignerDetailsActivity"/>
        <activity android:name=".ui.SaleDetailsActivity"/>
        <activity android:name=".ui.CustomDetailsActivity"/>
        <activity android:name=".ui.WorldDetailsActivity"/>
        <activity android:name=".ui.HomeMenusActivity"/>
        <activity android:name=".ui.ApplyVIPMerchantActivity"/>
    </application>

</manifest>